<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>All sorting Algorithm</title>
	<style>
		div{	
			text-align: center;
			height: 60px;
			/*width: 100px;*/
			padding: 2px;
			margin: 10px;
			border:2px solid red;
			background-color: lightblue;
		}
	</style>	
</head>

<body>
	<h1 style="text-align:center;">Welcome To Sorting Visulizations</h1>
	<div>
		<h3><a href="/mainapp/bubble/">Bubble Sort</a></h3>
	</div>
	<div>
		<h3><a href="/mainapp/selection/">Selection Sort</a></h3>
	</div>
	<div>
		<h3><a href="/mainapp/insertion/">Insertion Sort</a></h3>
	</div>
	<div>
		<h3><a href="/mainapp/quick/">Quick Sort</a></h3>
	</div>
</body>
</html>